body {
    margin: 0;
    
    background-color: #edede8;

    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 1rem;
}
h1 {
    margin: 2rem;
}

nav, footer {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;

    background-color: #2e2e2e;
    color: #edede8;
}
#reload-button {
    margin: 1rem;
    width: 100%;

    /* Override the default button styling. */
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;

    color: #edede8;
    font-size: 16px;
    font-weight: bold;
}


/* Tablet and mobile and menu styling */
@media screen and (max-width: 770px) {
    nav {
        padding: 1rem;

        flex-direction: column;
        align-content: center;
    }
    nav h1 {
        margin: 1rem;
    }
}

/* Gallery styling */
#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 3rem;
    grid-template-rows: auto;

    justify-items: center;
    align-content: center;
}

.gallery-img {
    /* Crop images to 500x500 so all images look good next to eachother. */
    width: 500px;
    height: 500px;
    object-fit: cover;  
}

.loading-img {
    /* Width and heigh set to match gallery dimensions. */
    width: 500px;
    height: 500px;
    object-fit: scale-down; /* Use scale-down to use original size on source image. */
}

/* Large tablet gallery styling */
@media screen and (max-width: 1024px) {
    #gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .gallery-img, .loading-img {
        width: 200px;
        height: 200px;
    }
}

/* Small tablet and mobile gallery styling */
@media screen and (max-width: 600px) {
    #gallery {
        grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    }
    .gallery-img, .loading-img {
        width: 150px;
        height: 150px;
    }
}
